.transitions {
  transition: all 0.4s ease;
}
.wrapper {
  width: 100%;
  max-width: 1320px;
  padding: 0 1rem;
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
}
.svg-ico {
  fill: #f69e29;
  &:hover {
    fill: #868078;
  }
}
